@import "tailwindcss";

@font-face {
  font-family: "STIX Two Math";
  src: url("/fonts/STIXTwoMath-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Poppins", sans-serif;
  --font-formula: "STIX Two Math", serif;
  scroll-behavior: smooth;

  /* Colors */
  --background: var(--color-neutral-100);
  --surface: var(--color-neutral-50);

  --primary: #000000;
  --secondary: #000000f2;
  --muted: hsl(0 0 0/0.5);

  --shadow: hsl(0 0 0/0.15);
  --accent: var(--color-emerald-200);

  .dark {
    --background: var(--color-neutral-950);
    --surface: var(--color-neutral-900);

    --primary: hsl(0 0 100/0.95);
    --secondary: hsl(0 0 100/0.8);
    --muted: hsl(0 0 100/0.5);

    --shadow: hsl(0 0 0/0.3);
    --accent: var(--color-emerald-800);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-neutral-950);
    --surface: var(--color-neutral-900);

    --primary: hsl(0 0 100/0.95);
    --secondary: hsl(0 0 100/0.8);
    --muted: hsl(0 0 100/0.5);

    --shadow: hsl(0 0 0/0.3);
    --accent: var(--color-emerald-800);
  }
}

@theme {
  --color-background: var(--background);
  --color-surface: var(--surface);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);

  --color-shadow: var(--shadow);
  --color-accent: var(--accent);
}

body {
  background-color: var(--background);
  color: var(--secondary);
  font-family: var(--font-body);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    color: var(--color-primary);
  }

  h1,
  h2 {
    font-weight: bold;
  }

  .formula {
    font-family: var(--font-formula);
  }

  input {
    @apply text-primary shadow-sm shadow-shadow px-3 py-2 rounded-md outline-0 ring-1 ring-primary/50 focus:ring-2 focus:ring-primary/80 transition duration-300 ease-out max-w-80 min-w-45 w-full;
  }
}
